.product-detail {
  gap: 50px;
  padding: 80px 100px;
}
.product-container{
  width: 1200px;
  display: flex;
  justify-content: space-between;
}
.product-image img {
  max-width: 600px;
  max-height: 800px;
  border-radius: 12px;
}
.product-content h2 {
  font-size: 36px;
  margin-bottom: 20px;
  max-width: 550px;
}

.product-content p {
  color: #666;
  margin-bottom: 20px;
  width: 500px;
}

.product-check {
  list-style: none;
  padding: 0;
  margin-bottom: 30px;
}

.product-check li {
  margin-bottom: 10px;
}